.contacts {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 30% auto;
  padding: 0 30px;
  padding-bottom: 100px;
  @media screen and (max-width: 960px) {
    padding: 0 20px;
    padding-bottom: 30px;
  }
  @media screen and (max-width: 480px) {
    min-width: 280px;
  }
}

.contacts_title {
  text-align: center;
  margin-bottom: 32px;
  @media screen and (max-width: 480px) {
    margin-bottom: 24px;
  }
  @include indent;
}

.contacts_description {
  margin: 0 auto;
  margin-bottom: 24px;

  max-width: 400px;
  @media screen and (max-width: 960px) {
    max-width: 300px;
  }
}

.contacts_form {
  position: relative;
  min-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 960px) {
    min-width: 280px;
  }
}

.contacts_text-field {
  padding: 20px 24px;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;

  height: 30px;
  border: 2px solid $primary;
  border-radius: 50px;

  font-family: "Montserrat";
  color: $text_color;
  font-size: 16px;

  &::placeholder {
    color: $text_color;
    opacity: 0.7;
  }
}

.contacts_text-field--textarea {
  min-height: 200px;
  border-radius: 16px;
  resize: vertical;
}

.contacts_button {
  width: 100%;

  &:disabled {
    opacity: 0.5;
    &:hover {
      transform: none;
      transition: none;
    }
  }
}
