.home {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 96px;
  margin: 0 auto;
  padding: 10rem 0;

  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    padding: 0 30px;
    gap: 76px;
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    padding: 0 20px;
    gap: 36px;
  }
}

.home_img {
  height: 600px;
  width: 600px;
  margin: auto auto;

  background: url("../source/img/bg.svg"), url("../source/img/small_photo2.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, 50%;
  background-position: center, center;

  @media screen and (max-width: 960px) {
    height: 450px;
    width: 450px;
  }

  @media screen and (max-width: 480px) {
    height: 350px;
    width: 350px;
  }
}

.home_text {
  margin: auto 0;
}

.home_title {
  margin-bottom: 44px;
}

.home_description {
  margin-bottom: 32px;
}
