.skills {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr;
  gap: 44px 96px;
  padding: 0 30px;
  margin: 0 auto;

  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-template-rows: 5% auto 1fr;
    padding: 0 20px;
    padding-bottom: 30px;
    gap: 15px;
  }

  @media screen and (max-width: 480px) {
    min-width: 280px;
  }
  @include indent;
}
.skills_title {
  grid-column: 1/-1;
  margin: 0 auto;
}

.skills_description {
  margin: 0;
}

.skills_list {
  padding: 0;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: repeat(5, 60px);
}
.skill_text {
  margin: 0;

  font-size: 28px;
  line-height: 24px;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  color: $text_color;
  font-style: normal;

  padding-right: 20px;
  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.skills_level {
  position: relative;
  padding: 0;
  margin: 0;

  height: 30px;
  font-size: 0;
  border: 2px solid $primary;
  border-radius: 50px;
}

.skill_percents {
  position: absolute;
  top: -2px;
  left: -1px;
  height: 30px;
  background-color: $primary;
  border-radius: 50px;
}
