.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-item {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-position: 50% 50%;
}

.social-vk {
  background: no-repeat url("./assets/img/vk.svg");
}

.social-twitter {
  background: no-repeat url("./assets/img/twitter.svg");
}

.social-linkedin {
  background: no-repeat url("./assets/img/linkedin.svg");
}
