.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-item {
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-position: 50% 50%;
  // &:hover {
  //   transform: scale(1.03);
  //   transition: all 0.3s ease-out;
  // }

  // @media screen and (max-width: 960px) {
  //   width: 90%;
  //   &:hover {
  //     transform: none;
  //   }
  // }
}

.social-vk {
  background: no-repeat url("../source/img/vk.svg");
}

.social-twitter {
  background: no-repeat url("../source/img/twitter.svg");
}

.social-linkedin {
  background: no-repeat url("../source/img/linkedin.svg");
}
