@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/scaffolding.scss";
@import "global/normalize.scss";

@import "blocks/nav.scss";
@import "blocks/home.scss";
@import "blocks/socials.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/slider.scss";
@import "blocks/skills.scss";

@import "blocks/arrow.scss";
@import "blocks/button.scss";
