//colors
$primary: #311258;
$primary_light: #d736bc;
$text_color: #30135a;

//mixins

@mixin indent {
  &::before {
    display: block;
    content: "";
    height: 100px;
    @media screen and (max-width: 960px) {
      height: 30px;
    }
  }
}
