// @tablet-width: 768px;
// @decktop-width: 1440px;
// @mobile-width: 767px;

//colors
$primary: #311258;
$primary_light: #d736bc;
$text_color: #30135a;

// $secondary:

// @basic_green-2: #5EAA2F;

// @status_error: #FF8282;

// @basic_grey: #F2F2F2;

// @special_grey: #EBEBEB;
// @special_grey-2: #CDCDCD;
// @special_grey-3: #666666;

// @special_dark-grey: #444444;
// @special_dark-grey-2: #222222;
